[
	{
		"hosts": [
			{
				"host": "127.0.0.1",
				"port": 7890
			},
			{
				"host": "http://127.0.0.1",
				"port": 7890
			},
			{
				"host": "https://127.0.0.1",
				"certfile": "/var/certfile.cert"
				"keyfile": "/var/keyfile.key".
				"port": 443
			}
		],
		"content": [
			{
			"type": "file_system",
			"match": "/",
			"path": "/var/www/somefolder",
			"cachestrategy": "lru",
			"cachelimit": 2048
			}
		]
	},
	{
	"default": true,
	"port": 7890,
	"hosts": [
		{
			"host": "localhost",
			"port": 7890
		},
		{
			"host": "http://localhost",
			"port": 7890
		}
		],
		"content": [
			{
			"type": "unix_socket",
			"match": "/unix",
			"path": "/tmp/temp.sock"
			},
			{
			"type": "http_socket",
			"match": "/http",
			"path": "http://localhost:4000"
			},
			{
				"match": "/",

				"type": "file_system",
				"path": "/var/www/someother",
				
				"cache": {
					"cacheName": "localfs"
					"cachestrategy": "lru",
					"cachelimit": 2048
				},

				"fsdefaults": {
					"defaultfile": "index.html",
					"defaultextension": ".html"
				},
				
				"compression": true,
				
				"error": {
					"40x": "/error/40x.html",
					"401": "/error/401.html"
				}
			}
		]
	}
]
