[
	{
		"hostnames": [
			"somedomain.com",
			"www.someotherdomain.com"
		],
		"content": [
			{
			"type": "folder",
			"path": "/var/www/somedomain",
			"cachestrategy": "lru",
			"cachelimit": 2048
			}
		]
	},
	{
	"hostnames": [
			"someotherdomain.co.uk",
			"www.someotherdomain.co.uk",
			"default"
		],
		"content": [
			{
			"type": "folder",
			"path": "/var/www/someotherdomain",
			"cachestrategy": "lru",
			"cachelimit": 2048
			},
			{
			"type": "unix_socket",
			"path": "/tmp/temp.sock"
			},
			{
			"type": "http",
			"path": "http://localhost:4000"
			}
		]
	}
]
